### 회귀 평가 지표

**일반적인 회귀 평가 지표**

<img src='imgs/회귀성능평가지표.jpg' width='60%'/>

<hr>

In [3]:
# 평가 지표 학습을 위한 테스트 데이터 구성한 코드

import numpy as np
import pandas as pd

np.random.seed = 2

y_true = np.random.randint(low=1, high=999, size=700)

y_pred = y_true + np.round(np.random.random(700), decimals=1) * np.random.randint(low=-10, high=10, size=700)

print(y_true.shape, y_pred.shape)

data_df = pd.DataFrame(y_true, columns=['y_true'])

data_df['y_pred'] = y_pred
data_df[data_df['y_true'] > data_df['y_pred']]

data_df.head(20)

(700,) (700,)

    y_true  y_pred
0      404   405.2
1      241   250.0
2      675   677.5
3      712   712.9
4      177   179.0
5      491   493.4
6      840   836.0
7      657   657.0
8      122   128.3
9      840   839.0
10      58    58.5
11     853   853.4
12     430   433.2
13     140   138.2
14     726   725.9
15     389   389.0
16     584   586.1
17     903   901.8
18     784   784.3
19     831   831.0

**MAE : 평균 절대 오차**

$$ MAE = \frac{1}{n}\sum_{i=1}^{n}\left|Y_{i}-\hat{Y}_{i}\right| $$

In [8]:
mae = abs(y_pred - y_true).mean()
mae

2.4442857142857153

In [9]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_true,y_pred)

2.4442857142857153

**MSE : 평균 제곱 오차**

$$ MSE = \frac{1}{n}\sum_{i=1}^{n}(Y_{i}-\hat{Y}_{i})^2 $$

In [11]:
mae = ((y_pred - y_true)**2).mean()
mae

10.63391428571429

In [13]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_true,y_pred)

10.63391428571429

**RMSE : 평균 제곱근 오차**