### 회귀 평가 지표

**일반적인 회귀 평가 지표**

<img src='imgs/회귀성능평가지표.jpg' width='60%'>

<hr>

In [4]:
import numpy as np
import pandas as pd

np.random.seed = 2

y_true = np.random.randint(low=1, high=999, size=700)

y_pred = y_true + np.round(np.random.random(700), decimals=1) * np.random.randint(low=-10, high=10, size=700)

print(y_true.shape, y_pred.shape)

data_df = pd.DataFrame(y_true, columns=['y_true'])

data_df['y_pred'] = y_pred
data_df[y_df['y_true'] > y_df['y_pred']]

data_df.head(20)

(700,) (700,)

    y_true  y_pred
0      866   861.5
1      452   454.7
2      328   332.5
3      881   882.4
4      449   449.2
5      215   211.0
6      340   341.2
7      980   978.8
8      710   708.8
9      657   657.2
10     321   324.6
11     805   800.1
12     532   532.7
13     607   615.1
14     150   146.5
15     177   179.4
16     170   168.0
17     653   652.6
18     392   392.9
19     839   831.8

**MAE : 평균 절대 오차**

$$ MAE = \frac{1}{n}\sum_{i=1}^{n}\left|Y_{i}-\hat{Y}_{i}\right| $$

**MSE : 평균 제곱 오차**

$$ MSE = \frac{1}{n}\sum_{i=1}^{n}(Y_{i}-\hat{Y}_{i})^2 $$

**RMSE : 평균 제곱근 오차**